<h1>Managers::Articles#index</h1>
<p>Find me in app/views/managers/articles/index.html.erb</p>
<% if @articles.blank? %>
  <h1 class="text-center">まだ記事がありません</h1>
<% else %>
  <% @articles.each do |article| %>
    <div class="panel panel-default">
      
    </div>
  <% end %>
<% end %>
